:root {
    --bg: #333333;
    --background: #f5f5f5;
    --accent: rgb(246, 244, 247);
    --accent-color: #f5f5f5;
    --black: #333;
    --milky-white: #f5f5f533;
    --ash-gray: #b2b2b2;
    --light-gray: #d3d3d366;
}

* {
    margin: 0;
    font-family: Sansation, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--background);
    box-sizing: border-box;
}

body {
    background: var(--accent);
    min-height: 100vh;
    position: relative;
    overflow: overlay;
    background: #EC6F66;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

img {
    object-fit: cover
}
header {
    position: sticky;
    top:0;
    background: var(--milky-white);
    color: var(--black);
    backdrop-filter: blur(10px);
    min-height: 5vh;
    z-index:1000;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 1.5rem;
    font-weight: 700;
    z-index: 1000;
    height:100%;
}
nav button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--milky-white);
    opacity: 1;
    backdrop-filter: invert(1);
    z-index: 1000;
    bottom: -10px;
    transform: scaleX(0);
    border-radius: 5px;
}
nav h1 {
    position:absolute;
    left:0;
    right:0;
}
h1 {
    font-weight: 400;
    font-size:2rem;
    text-align: center;
    width: 100%;
    font-family: "Major Mono Display", monospace;
}
h2 {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Major Mono Display", monospace;

}
.pd-bt {
    padding-bottom:1em;
}
.pd-tp {
    padding-top:1em;
}
main {
    flex: 1 0 auto;
    display:flex;
    flex-direction: column;
}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display:flex;
    flex-direction: row;
    gap:1rem;
    z-index:0;
    flex-wrap: wrap;
    padding:2rem;
} 
.container.xl {
    max-width: 1600px;
}
.glass {
    background: var(--milky-white);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 30px var(--light-gray);
    border: 1px solid var(--light-gray);
    width: 100%;
}
@media screen and (max-width: 560px) {
    nav {
        display: none!important;
    }
    body {
        padding-top: 0!important;
    }
}

footer {
    display: flex;
    justify-content: center;
    background: var(--milky-white);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    width: 100%;
    justify-items: center;
}

.made-with {
    text-align: left;
    font-style: italic;
    display: block;
    width: auto;
}

.white {
    color: white;
}

.icon {
    padding: 0.2rem;
    font-size: 0.5rem;
    text-align: center;
}

.heart-beat {
    transition: color 0.2s linear;
}

.heart-beat:hover {
    animation: heart-beat 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    color: rgb(214, 70, 70);
    cursor: default;
}

@keyframes heart-beat {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.text-lined {
    display: inline-flex!important;
    vertical-align: middle;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    color: white;
}

@media screen and (max-width: 960px) {
    .menu {
        width: 100%;
    }
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    font-size: 1.3rem;
}

.menu-item>span {
    color: white;
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item ::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background: var(--accent-color);
    transition: width 0.3s ease-in-out;
}

.menu-item:hover ::after {
    width: 100%;
}

.logo-img {
    height: 5vh;
    width: auto;
}

.logo {
    position: relative;
    width: fit-content;
}

.logo>span {
    transform: translate(0%, 50%);
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    ;
    flex-wrap: wrap;
    padding: 3rem 3rem;
    padding-bottom: 2rem;
    background: var(--accent);
    position: relative;
    z-index: 50;
}

@media screen and (min-width: 960px) {
    .content {
        padding-right: 20%!important;
        padding-left: 20%!important;
    }
}

@media screen and (max-width: 560px) {
    .content {
        padding-right: 1.5rem!important;
        padding-left: 1.5rem!important;
    }
}

.hidden {
    display: none !important;
}

.jules-anchor {
    position: relative;
    display: inline-block;
    width: 2em;
}

.jules {
    font-weight: bold;
    font-style: normal;
    position: absolute;
    top: 0px;
    text-decoration: none;
}

.jules:hover {
    text-decoration: none;
}

.typewritten {
    position: relative;
    display: inline-block;
    padding: 0rem 0.1rem;
    text-align: left;
}

.typewritten:empty:before {
    content: "\200b";
}

.typewritten::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -4px;
    width: 3px;
    height: 100%;
    background: var(--ash-gray);
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.break {
    flex-basis: 100%;
    height: 1px;
    margin: 1.5rem 2rem;
}

.no-pointer {
    cursor: default !important;
}
.menu-button {
    flex-direction: column;
    justify-content: space-between;
    padding:5px 0px;
    width: 40px;
    height: 40px;
    display:flex;
    cursor: pointer;
    z-index:100;
    border-radius:100%;
    transition: backdrop-filter 0.3s ease;
    position:relative;
}
.backdot {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    border-radius:100%;
    z-index:25;
    transition: all 0.3s ease;
    scale:0;
    backdrop-filter: grayscale(0%);
}
.menu-button.active .backdot{
    backdrop-filter: grayscale(70%);
    scale: 1.3;
}
.menu-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 0px;
    opacity:0.75;
    transition: all 0.3s ease;
    pointer-events: none;
    box-sizing: border-box;
    z-index:50;
}
.menu-button:hover {
    cursor: pointer;
}

.menu-button:hover .bar:nth-child(1) {
    transform: rotateY(65deg);
}
.menu-button:hover .bar:nth-child(2) {
    transform: scaleX(1.2);
}
.menu-button:hover .bar:nth-child(3){
    transform: rotateY(-65deg);
}
.menu-button.active:hover .bar:nth-child(1) {
    transform: rotateY(65deg);
}
.menu-button.active:hover .bar:nth-child(2) {
    transform: scaleX(1.2);
}
.menu-button.active:hover .bar:nth-child(3){
    transform: rotateY(-65deg);
}
.menu-button.active .bar:nth-child(1) {
    transform-origin: center;
    transform: translateY(13px) rotate(-45deg);
}
.menu-button.active .bar:nth-child(2) {
    transform: scaleX(0);
}
.menu-button.active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
    transform-origin: center;
}
.menu-button.active .bar {
    opacity:1;
}

.menu-button.active:hover .bar{
    transform: scale(0.5);
    transition: all 0.3s ease-in-out;
}
.overlay {
    /* Positioning & Sizing */
    position: fixed;
    top: 2.5vh;
    right:2.5vh;
    width: 250vmax; /* Use vmax to ensure it covers the screen diagonally */
    height: 250vmax;
    border-radius: 50%; /* This makes it a circle */

    /* Initial State (hidden) */
    transform: translate(50%, -50%) scale(0); /* Centered and scaled down to nothing */
    opacity: 0;
    pointer-events: none; /* Prevents interaction when hidden */
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.4s ease-in-out;

    background: var(--milky-white);
    backdrop-filter: blur(50px) grayscale(65%);
    z-index:500;
    pointer-events:none;
}
.overlay.active {
    transform: translate(50%, -50%) scale(1.3);
    pointer-events: auto; /* Allows interaction when visible */
    opacity:1;
}
.overview {
    /* Positioning & Sizing */
    position: fixed;
    z-index:1000;
    height:85vh;
    width:100vw;
    top:15vh;
    padding-right:3rem;
    left:0;
    justify-content: flex-end;
    display:flex;
    flex-direction: row;
    opacity: 0;
    transition:none;
    pointer-events: none;
    &.active {
        pointer-events: auto;
        display:flex;
        opacity:1;
        pointer-events:auto;
        transition: all 0.3s ease;
        transition-delay:0.5s;
    }
    & li {
        list-style:none;
        font-weight:400;
        margin:1rem 0;
        transform: translateX(500px);
        transition: transform 0.3s ease, opacity 0.3s ease;
        width:calc(max-content + 2rem);
        text-align: right;
    }
    & ul {
        padding:0;
        text-align:right;
    }
    &.active li span {
        transition: all 0.3s cubic-bezier(0.38, -0.55, 0.27, 1.55);
        letter-spacing: 0.4rem;
        font-size:3.5rem;
        font-family: "Major Mono Display", monospace;
    }
    &.active li:hover span {
        cursor: pointer;
        display:inline-block;
        transform-origin: right;
        transition-delay: 0s;
        letter-spacing: 1.5rem;

    }
    &.active li {
        transform: translateX(0);
    }
    &.active li:nth-child(1) {
        transition-delay: 0.2s;
    }
    &.active li:nth-child(2) {
        transition-delay: 0.4s;
    }
    &.active li:nth-child(3) {
        transition-delay: 0.6s;
    }
    &.active li:nth-child(4) {
        transition-delay: 0.8s;
    }
    &.active li:nth-child(5) {
        transition-delay: 1s;
    }
}

.hvr-enclosing-brackets::before,
.hvr-enclosing-brackets::after {
    position: absolute;
    opacity: 0;
    font-size: 1.4em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--light-gray); /* Tailwind yellow-400 */
    transition: all 0.35s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.hvr-enclosing-brackets::before {
    content: '[';
    /* Start a bit further away */
    left: -1em;
}
.hvr-enclosing-brackets::after {
    content: ']';
    /* Start a bit further away */
    right: -1em;
}
.hvr-enclosing-brackets:hover::before {
    /* Slide in to a position just outside the text */
    left: -0.6em;
    opacity: 1;
}
.hvr-enclosing-brackets:hover::after {
    /* Slide in to a position just outside the text */
    right: -0.6em;
    opacity: 1;
}

.link-item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.5rem; /* text-2xl */
    padding: 0.5rem 0.5rem;
    margin: 1.5rem;
    cursor: pointer;
}